<div id="itemDiv">
    <div class="media">
        <div class="media-left media-top">
            <img class="media-object img-thumbnail" src="{{ imgSource }}" alt="{{ title }}">
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{ title }}</h4>
            <p>{{ description }}</p>
        </div>
        <div class="media-right">
            <p>{{ price }}</p>
        </div>
    </div>

    {% if not isWap %}
    <button type="button" class="btn btn-danger" onclick="callFunction()">Call</button>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="showPhoneFunction()">
            Show phone
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">{{ phone }}</a></li>
        </ul>
    </div>
    {% else %}
    <a href="indexForWap.php?page=phone&itemId={{ id }}">
        <button type="button" class="btn btn-danger" id="callButton">Call</button>
    </a>
    {% endif %}
</div>

<div class="clm-samurai" data-module="suggestion" data-group="3" data-item="{{ id }}" data-title="Check out these ads" data-quantity="10" data-country="AR"></div>

<script>
    var callFunction = function () {
        window.dataLayer.push({trackEvent: ['contact', 'reply', 'call']});
    };
    var showPhoneFunction = function () {
        window.dataLayer.push({trackEvent: ['contact', 'show', 'phone']});
    };
</script>
